 <div class="container">
   <div class="row">

<ul class="list">

  <li>
    <a routerLink="from-event">from-event</a>
  </li>

  <li>
    <a routerLink="interval">Interval</a>
  </li>

  <li>
    <a routerLink="of-from">of and from event</a>
  </li>


  <li>
    <a routerLink="to-array">toArray</a>
  </li>
  <li>
    <a routerLink="map">map</a>
  </li>
  <li>
    <a routerLink="pluck">pluck</a>
  </li>
  <li>
    <a routerLink="filter">filter</a>
  </li>
  <li>
    <a routerLink="tap">tap</a>
  </li>
  <li>
    <a routerLink="take">take</a>
  </li>
  <li>
    <a routerLink="retry">retry</a>
  </li>
  <li>
    <a routerLink="demo">demo</a>
  </li>
  <li>
    <a routerLink="debouncetime">debouncetime</a>
  </li>
  <li>
    <a routerLink="subject">subject</a>
  </li>
  <li>
    <a routerLink="replay-subject">replay-subject</a>
  </li>
  <li>
    <a routerLink="async-subject">async-subject</a>
  </li>
  <li>
    <a routerLink="concat">concat</a>
  </li>
  <li>
    <a routerLink="merge">merge</a>
  </li>
  <li>
    <a routerLink="mergemap">merge-map</a>
  </li>
  <li>
    <a routerLink="switchmap">switch-map</a>
  </li>
  <li>
    <a routerLink="switchmap-project">switchMap-project</a>
  </li>
</ul>
     </div>
  </div>
  <!-- <div class="container"> -->

    <!-- <div class="row">

    </div> -->
  <!-- </div> -->
