<div class="mt-3">
  <h1>of-from works!</h1>
<br>
<strong>ex - 01 (OF)</strong>
<hr>
<div class="row">
  <div class="col-md-6">
    <p class="border rounded bg-light py-3 px-3">
      <strong>data: </strong>of( 'anup', 'monu', 'tinku')</p>
      <hr>
      <ul id="ofEvent">

      </ul>
  </div>
  <div class="col-md-6">
    <p class="border rounded bg-light py-3 px-3">
      <strong>data: </strong>of(&#123; a:'anup', b:'monu', c:'tinku' &#125;)</p>
      <hr>
      <ul>
<li>  <strong>a: </strong>{{obj.a}}</li>
<li>  <strong>b: </strong>{{obj.b}}</li>
<li>  <strong>c: </strong>{{obj.c}}</li>
      </ul>
  </div>
</div>

<br>
<strong>ex - 02 (from)</strong>
<hr>
<div class="row">
  <div class="col-md-4">
    <strong>Array</strong>
    <hr>
    <p class="border rounded bg-light py-3 px-3">
      <strong>data: </strong>from( 'yogesh', 'anuj', 'dinesh')</p>
      <hr>
      <ul id="ofEventFrom1">

      </ul>
  </div>
  <div class="col-md-4">
    <strong>Promise</strong>
    <hr>
    <p class="border rounded bg-light py-3 px-3">
      <strong>data: </strong> Promise to observable</p>
      <hr>
      <ul id="ofEventFrom3">

      </ul>
  </div>
  <div class="col-md-4">
    <strong>String</strong>
    <hr>
    <p class="border rounded bg-light py-3 px-3">
      <strong>data: </strong> String to observable</p>
      <hr>
      <ul id="ofEventFrom5">

      </ul>
  </div>
</div>
</div>

